.TodoItem{
	padding: .5em;
	display: flex;
	align-items: center;
}
.TodoItem > .title{
	flex-grow: 1;
	padding: 0 .5em;
}
.btn {
	border: 1px solid gray;
	padding: 7px;
	border-radius: 15px;
	font-size: 12px;
	color: brown;
}
.btn:focus{
	outline: none;
}
