.UserDialog-Wrapper{
	display: flex; justify-content: center; align-items: center;
}
.UserDialog{
	border-radius: 3px;
	max-width: 20em;
	background: white;
	border: 1px solid #aaa;
	margin-top: 100px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
.UserDialog .signInOrSignUp > nav:first-child{padding: 1em; margin-left: -2em;}
.UserDialog .signInOrSignUp > nav:first-child label{margin-left: 2em; cursor: pointer;}
.UserDialog .signInOrSignUp > .panes {padding: 0 1em 1em;}
.UserDialog .forgotPassword > h3{padding: 1em;}
.UserDialog .forgotPassword > form {padding: 0 1em 1em;}
.UserDialog form > .row {
	display: flex;
	padding: .3em 0;
}
.UserDialog form > .row > label:first-child {
	width: 4em;
}
.UserDialog form > .row.actions {padding-left: 4em; display: flex; align-items: center;}
.UserDialog form > .row.actions > button{padding: 3px; border-radius: 5px; font-size: 12px; margin-right: .5em; color: #278eff;}
.UserDialog form > .row.actions > button:focus{outline: none; border: 1px solid brown; color: brown;}
.UserDialog form > .row.actions > a.forgotPassword { text-decoration: none; font-size: 12px; font-weight:bold; color: rgba(0,0,0,0.4); margin-left: 5px;}
